.navigation__hamburger{
  margin: 5px 0 0 0;
  padding: 0;
  height: 44px;
  max-width: 44px;
  width: 100%;
  background-image: url('../../../images/menu_icon_mobile.svg');
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  border: none;
  animation-name: slideinHam;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  z-index: 10;
}

/*@media screen and (max-width: 320px){
	.navigation__hamburger{

    margin: 15px 14px 15px auto;

	}
}*/

@keyframes slideinHam {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}