.navigation__link_active {
	font-weight: 600;
	font-size: 26px;
	line-height: 48px;

	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	
	color: #000000;

	background-color: #a8f4937b;

	border: 1px solid #000000ed;
	
	border-radius: 6px;
	width: 80%;
	margin: 0 0 10px 0;
}