.navigation__background {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000000;
  z-index: 8;
  opacity: 0.45;
  cursor: pointer;

  animation-name: fadein-overlay;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
}

@keyframes fadein-overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.45;
  }
}
