.form_strait-stages{
	background: #728A7C;
	border-radius: 6px;
	border: 2px;
	border-color: aliceblue;
	padding: 2px;
	display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.form_strait-stages:nth-child(n + 2) {
	margin: 5px 0;
}