@import url(./vendor/normalize.css);
@import url(./vendor/jura_fonts.css);
@import url(./blocks/root/root.css);

@import url(./blocks/test/test.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/_header/form_header.css);
@import url(./blocks/form/_inputs/form_inputs.css);
@import url(./blocks/form/_inputs/form_inputs.css);
@import url(./blocks/form/_strait-header/form_strait-header.css);
@import url(./blocks/form/_aroma-stages/form_aroma-stages.css);
@import url(./blocks/form/_stages-header/form_stages-header.css);
@import url(./blocks/form/_taste-stages/form_taste-stages.css);
@import url(./blocks/form/_strait-stages/form_strait-stages.css);
@import url(./blocks/form/_taste/form_taste.css);
@import url(./blocks/form/_aroma/form_aroma.css);

@import url(./blocks/myform/myform.css);
@import url(./blocks/myforms/myforms.css);
@import url(./blocks/myform/__list/myform__list.css);
@import url(./blocks/myform/__row/myform__row.css);
@import url(./blocks/myform/__buttons/myform__buttons.css);

@import url(./blocks/myforminteraction/myforminteraction.css);
@import url(./blocks/myforminteraction/__section/myforminteraction__section.css);
@import url(./blocks/myforminteraction/__list/myforminteraction__list.css);
@import url(./blocks/myforminteraction/__row/myforminteraction__row.css);
@import url(./blocks/myforminteraction/__buttons/myforminteraction__buttons.css);

@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__header/authorization__header.css);
@import url(./blocks/authorization/__email/authorization__email.css);
@import url(./blocks/authorization/__pass/authorization__pass.css);
@import url(./blocks/authorization/__submit/authorization__submit.css);
@import url(./blocks/authorization/__check-text/_link/authorization__check-text_link.css);
@import url(./blocks/authorization/__check-text/authorization__check-text.css);
@import url(./blocks/authorization/__fields-box/authorization__fields-box.css);

@import url(./blocks/registration/registration.css);
@import url(./blocks/registration/__header/registration__header.css);
@import url(./blocks/registration/__name/registration__name.css);
@import url(./blocks/registration/__email/registration__email.css);
@import url(./blocks/registration/__pass/registration__pass.css);
@import url(./blocks/registration/__submit/registration__submit.css);
@import url(./blocks/registration/__fields-box/registration__fields-box.css);
@import url(./blocks/registration/__submit/registration__submit.css);
@import url(./blocks/registration/__check-text/_link/registration__check-text_link.css);
@import url(./blocks/registration/__check-text/registration__check-text.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__navigation/header__navigation.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__myforms/header__myforms.css);

@import url(./blocks/selectbox/__name/selectbox__name.css);
@import url(./blocks/selectbox/selectbox.css);


@import url(./blocks/navigation/navigation.css);
@import url(./blocks/navigation/__hamburger/navigation__hamburger.css);
@import url(./blocks/navigation/__side/navigation__side.css);
@import url(./blocks/navigation/__background/navigation__background.css);
@import url(./blocks/navigation/__link/navigation__link.css);
@import url(./blocks/navigation/__link/_active/navigation__link_active.css);

